#container {
  height: 300px;
}

#playerBoard {
  width: 500px;
  height: 500px;
}

#cpuBoard {
  width: 500px;
  height: 500px;
}

.square {
    height: 25px;
  width: 25px;
  position: absolute;
  line-height: 25px;
  text-align: center;
}

#playerBoard div {
  border: 2px solid blue;
  float: left;
}


#cpuBoard div {
  border: 2px solid green;
  text-align: center;
  margin-left: 300px;
}

#placeShipButtonsContainer {
  display: inline-block;
  float: left;
}