body {
  margin: 0;
}

#container {
  margin: 0;
  display: inline-block;
  height: 250px;
}

#orientationContainer {

}

#playerBoard {
  width: 250px;
  height: 250px;
  float: left
}

#cpuBoard {
  width: 250px;
  height: 250px;
  margin-left: 300px;
}

.square {
  height: 25px;
  width: 25px;
  background-color: grey;
  position: absolute;
  line-height: 25px;
  text-align: center;
}

#playerBoard div {
  border: 0px solid blue;
}


#cpuBoard div {
  border: 0px solid green;
  text-align: center;
}

